#senator-info {
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 10px;

  & > div {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: solid #c5c5c5 1px;
    box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.2);
    width: 330px;
    .close {
      position: absolute;
      right: 10px;
      font-size: 20px;
      top: 10px;
      color: gray;
    }

    .your-senator {
      color: lightgray;
      margin-bottom: 10px;
    }
    .basic-info {
      .rep-pic {
        width: 70px;
        float: left;
        margin-right: 10px
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
    .action-area {
      .not { color: red; }
      sub {
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
        display: inline-block;
        color: gray;
      }

      blockquote {
        margin-left: 10px;
        padding-lefT: 10px;
        border-left: solid lightgray 5px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .website {
      a {
        text-align: center;
        text-decoration: none;
        padding: 10px;
        display: block;
        color: white;
        background-color: $blue;

        font-family: $sans-serif;
      }
    }
  }
}
